.links {
    grid-column: -2;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.links > a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(78, 208, 179, 0.7);
    transition:
        color 160ms ease,
        transform 160ms ease;
}

.links > a:hover {
    color: var(--color-text);
    transform: translateX(0.2rem);
    text-decoration: underline;
}
